*{
    margin:0px;
    padding:0px;
    border:0px;
}

header {
    background-color: #001f3f; 
    color: white; 
    padding: 20px 40px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

header h1 {
    margin: 0; 
    font-size: 1.8em;
    font-weight: 600; 
}


header nav ul {
    list-style: none; 
  
    margin: 15px; 
    display: flex; 

}


header nav ul li a {
    color: white; 
    text-decoration: none; 
    padding: 8px 12px; 

}
