:root {
    --error-color: #dc3545;
    --success-color: #28a745;
}

.card shadow-2-strong{
    border-radius: 1px solid black;
}

section{
    background-color: #0e4a75;
}

.form-field input:focus {
    outline: none;
}

.error input {
    border-color: var(--error-color);
}

.success input {
    border-color: var(--success-color);
}


 small {
    color: var(--error-color);
}